/*overwrote default fonts for all elements*/
/*changed default font color*/
*{
    box-sizing: border-box;
    font-family: "Times New Roman";
    color: #f286aa;
}

body{
    background-color: #5f5c60;
}

a{
    text-decoration: none;
    color: inherit;
}

/*removed default list markers*/
li{
    list-style: none;
}

.profile-link{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: black solid 10px;
}

.highlight-word{
    font-size: 20px;
    letter-spacing: 5px;
}

.lowercased-word{
    text-transform: lowercase;
}

.uppercased-word{
    text-transform: uppercase;
}

/*sentence with increased word spacing*/
/*The "Personal Information" section start's with a red line*/
.personal-info-text{
    word-spacing: 10px;
    text-indent: 2em;
}

.personal-info{
    text-align: center;
}

.contact-link{
    text-decoration: none;
    color: black;
}

.icon-for-contact{
    width: 20px;
    height: 20px;
    fill: black;
}

/*Text links underlined in a color different from the default color when hovering over them*/
.contact-link:hover{
    text-decoration: underline;
    color: #007bff;
}

.contact-item:hover .icon{
    fill: #007bff;
}

/*The "Personal Information" section start's with a stylized first letter*/
.personal-info > h2::first-letter{
    color: black;
}

/*List markers made with pseudo element*/
ul>li::before{
    content: "–";
}