*{
    box-sizing: border-box;
}

/*Wrapper for the table so it can scroll*/
.table-wrapper{
    width: 600px;
    height: 400px;
    overflow: auto;
    margin: auto;
}

table{
    margin: auto;
    overflow: hidden;
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;
}

th{
    background-color: lightgrey ;
}

/*Each table body cell trim's the row and deliver "..." if the row is too long to fit in the cell */
td, th{
    border: 1px solid black;
    padding:10px 20px 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody td{
    max-width: 150px;
}

tfoot{
    font-weight: bold;
    font-style: italic;
}

form{
    margin: 50px auto;
    width: 600px;
}

label{
    display: inline-block;
    margin: 7px;
}

.horizontal-header{
    border: 1px solid black;
    font-style: italic;
}

.vertical-header{
    text-align: end;
}

/*This text area expands horizontally only*/
#textarea{
    resize: horizontal;
    caret-color: red;
}

/*When hovering over optional area, the mouse cursor changes to an arbitrary one*/
#optional-area{
    cursor: help;
}